.circle {
    background-color:black;
    border:1px solid white;    
    height:500px;
    width:500px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin:auto;
    padding:50px;
    word-wrap: break-word;
}
.rectangle {
  margin: auto;
  width: 60%;
  border: 3px solid white;
  padding: 10px;
}